:root {
    --logo-text-color-blue: #2196f3;
    --logo-text-color-black: #000000;
    --main-font-color: #212121;
    --contact-color: #757575;
    --contact-color-footer: rgba(255, 255, 255, 0.6);
    --main-white-color: #ffffff;
    --background-color: #2f303a;
    --button-color: #f5f4fa;
    --border-color: #ececec;
    --box-shadow-color: rgba(0, 0, 0, 0.12);
    --box-shadow-color2: rgba(0, 0, 0, 0.14);
    --box-shadow-color3: rgba(0, 0, 0, 0.2);
    --button-border: rgba(0, 0, 0, 0.15);
    --button-shadow1: rgba(0, 0, 0, 0.1);
    --button-shadow2: rgba(0, 0, 0, 0.08);
    --item-border: #eeeeee;
}

body {
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: var(--main-font-color);
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-text-color-blue);
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-black {
    color: var(--logo-text-color-black);
}
.logo-white {
    color: var(--main-white-color);
}
.page-header-background {
    border-bottom: 1px solid var(--border-color);
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--main-white-color);
    border-bottom-width: 1px solid var(--border-color);
}

.nav-section {
    display: inline-flex;
    justify-content: space-between;
}

.studio-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 93px;
    gap: 46px;
}

.menu-nav-link {
    color: var(--logo-text-color-black);
    text-decoration: none;
}

.menu-nav-link:hover {
    color: var(--logo-text-color-blue);
}

.menu-nav-link:focus {
    color: var(--logo-text-color-blue);
}

.contact-header {
    color: var(--contact-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
}

.contact-header:hover {
    color: var(--logo-text-color-blue);
}

.contact-header:focus {
    color: var(--logo-text-color-blue);
}

.mail {
    display: inline;
}

.tel {
    margin-left: 50px;
}
.contact-footer-mail {
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: var(--contact-color-footer);
    font-style: normal;
    margin-top: 9px;
    margin-bottom: 9px;
}
.contact-footer-tel {
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: var(--contact-color-footer);
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    padding: 200px;
    background-color: var(--background-color);
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    color: var(--main-white-color);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: var(--background-color);
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-button {
    color: var(--main-white-color);
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: var(--logo-text-color-blue);
    text-align: center;
    display: block;
    margin: auto;
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--button-border);
    border-radius: 4px;
    border-style: none;
    padding: 10px 42px;
}

.filter-button {
    font-family: 'Roboto', serif;
    color: var(--main-font-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
}

.filter-button:hover {
    color: var(--main-white-color);
    background-color: var(--logo-text-color-blue);
    box-shadow: 0px 3px 1px var(--button-shadow1),
        0px 1px 2px var(--button-shadow2), 0px 2px 2px var(--box-shadow-color);
    border-radius: 4px;
}

.filter-button:focus {
    color: var(--main-white-color);
    background-color: var(--logo-text-color-blue);
}

.address-footer {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
    font-style: normal;
    margin-bottom: 0;
    margin-top: 20px;
}

.footer {
    background-color: var(--background-color);
    padding: 60px 200px;
}

.advantages {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
}
.advantages-item {
    align-self: flex-start;
}

.advantages-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.advantages-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-items: center;
}

.advantages-description {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 21px;
}

.job-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.job-item {
    display: block;
}

.team {
    background-color: var(--button-color);
}
.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team-item {
    background-color: var(--main-white-color);
    box-shadow: 0px 1px 3px var(--box-shadow-color),
        0px 1px 1px var(--box-shadow-color2),
        0px 2px 1px var(--box-shadow-color3);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-top: 30px;
}

.team-job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin-bottom: 0px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 0;
}

.job-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.filter-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 0;
    margin-left: 314px;
    margin-right: 314px;
    margin-top: 0px;
    margin-bottom: 34px;
}

.projects-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.project-item {
    padding-bottom: 20px;
    margin-bottom: 30px;
    background: var(--main-white-color);
    border: 1px solid var(--item-border);
}

.project-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
}

.project-category {
    color: var(--contact-color);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}

figure {
    margin: 0px;
}

.project-description {
    padding-left: 24px;
    padding-right: 24px;
}
